<!DOCTYPE html>
<html>

<head>
  <title>Error</title>
  <link rel="stylesheet" type="text/css" href="../css/main.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
</head>

<body>
  <div class="errorContainer">
    <h2>Unfortunately there was an error, please try again.</h2>
    <a id="errorReload" href="/">Retry</a>
  </div>
</body>

</html>